# .gitignore for plate-impact repository

# Ignores test files that are outputted in Basilisk simulations
*.s 
*.s.d 
*.tst 
*.deps
*.tests

# Nohup files
nohup.out

# VSCode files
.vscode

# Data analysis
Figures/

# MATLAB temporary save files
*.m~ 
